.column {
  float: right;
  text-align: center;
  width: 500px;
  background-color: aquamarine;
}



img{
    height: 30%;
    width: 30%;
}





.sideBar{
    float: left;
    background-image: url(https://themeselection.com/demo/chameleon-admin-template/app-assets/images/backgrounds/04.jpg);
    
    width: 300px;
}

.body{
    text-align: center;
    font-size: 50px;
    background-color: gray;
 
}

.shows{
    
    float: left;
}

.rockband{
    float: right;
}

.people{
    float: right;
   width: 600px;
   height: 500px;
   padding: 30px;
   
}


.header{
    font-family: cursive;
    background-color: coral;
}

.city{
    width: 300px;
    height: 300px;
}

.rockband{
    width: 600px;
    height: 500px;
    padding: 30px;
    float: right;
}
